.icon {
  height: 50px;
  width: 50px;
  margin: 0px 5px;
  -webkit-user-drag: none;
}
.dockitem {
  display: inline;
  user-select: none;
  cursor: pointer;
}
.icon:hover {
  transform: scale(1.5) translateY(-10px);
  transition: all 0.3s;
  margin: 0px 10px;
}
.dock {
  height: 10vh;
  position: absolute;
  left: 0;
  bottom: 0px;
  width: 100%;
}
.nav {
  position: relative;
  height: 100%;
  background-color: rgba(128, 128, 128, 0.5);
  width: 70%;
  margin: -0.5% auto;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
}
